<a href="https://colab.research.google.com/github/lekshmi29-lx/DSA_workB7/blob/main/StatisticsCaseStudy_lekshmikrishnan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1. Dataset: Monthly temperatures in a city (in °C): 12, 15, 14, 16, 18, 20, 22, 19, 17, 15, 13, 10  a) Calculate the mean temperature. b) Calculate the median temperature. c) Find the mode of the temperature data. d) Range and Variance

In [1]:
import statistics as stats

month_temp = [12, 15, 14, 16, 18, 20, 22, 19, 17, 15, 13, 10]

mean_temp = stats.mean(month_temp)
print("Mean:",mean_temp)

median_temp = stats.median(month_temp)
print("Median:",median_temp)

mode_temp = stats.mode(month_temp)
print("Mode:",mode_temp)

range_temp = max(month_temp) - min(month_temp)
print("Range:",range_temp)

variance_temp = stats.variance(month_temp)
print("Variance:",variance_temp)

Mean: 15.916666666666666
Median: 15.5
Mode: 15
Range: 12
Variance: 12.083333333333334

2. Dataset: Heights of students (in cm): 150, 160, 165, 170, 155, 160, 162, 168
 Questions: a) Calculate the range of the heights.
 b) Calculate the variance of the heights.
 c) Standard Deviation

In [2]:
height_stud = [150, 160, 165, 170, 155, 160, 162, 168]

range_stud = max(height_stud) - min(height_stud)
print("Range:",range_stud)

variance_stud = stats.variance(height_stud)
print("Variance:",variance_stud)

st_devaiation = stats.stdev(height_stud)
print("Standard Deviation:",st_devaiation)

Range: 20
Variance: 43.642857142857146
Standard Deviation: 6.606274074155351

 3. Dataset: Weekly expenses (in $): 200, 250, 300, 220, 270, 290, 310
 Questions: a) Calculate the standard deviation of the weekly expenses.

In [3]:
week_expenses = [200, 250, 300, 220, 270, 290, 310]

std_dev_expenses = stats.stdev(week_expenses)
print("Standard Deviation:",std_dev_expenses)

Standard Deviation: 41.5187851918806

4. Dataset: Advertising Spending (in $1000s): 10, 20, 15, 25, 30; Sales (in
 $1000s): 100, 150, 120, 180, 200
 Questions: a) Calculate the covariance between advertising spending and sales.
 b) Correlation

In [4]:
adv = [10,20,15,25,30]
sales = [100,150,120,180,200]

#calculate covariance
n = len(adv)
mean_adv = sum(adv)/n
mean_sale = sum(sales)/n

covar_adv_sale = 0
for i in range(n):
  covar_adv_sale += (adv[i] - mean_adv) * (sales[i] - mean_sale)

covar_adv_sale = covar_adv_sale/n
print("Covariance :",covar_adv_sale)

#calculate correlation
std_adv = stats.stdev(adv)
std_sales = stats.stdev(sales)
corelation_adv_sale = covar_adv_sale/(std_adv*std_sales)
print("Correlation:",corelation_adv_sale)

Covariance : 260.0
Correlation: 0.7976435884012653

5. Dataset: Study Hours: 2, 4, 6, 8, 10; Exam Scores: 55, 60, 65, 70, 75
 Questions: a) Calculate the correlation coefficient between study hours and exam
 scores.
 b) Interpret the result.
 c) Quartiles and IQR

In [5]:
import numpy as np
study_hour = [2,4,6,8,10]
exam_score = [55,60,65,70,75]

#find covariance
study = sum(study_hour)/len(study_hour)
exam = sum(exam_score)/len(exam_score)
cov_study = 0
for i in range(len(study_hour)):
  cov_study += (study_hour[i]-study) * (exam_score[i]-exam)
cov_study = cov_study / len(study_hour)
#print("Covariance:",cov_study)

#find correlation
std_study = stats.stdev(study_hour)
std_exam = stats.stdev(exam_score)
cor_study = cov_study/(std_study*std_exam)
print("Correlation:",cor_study)

#Interpert the result
print(f"Here Correlatio is {cor_study}, so when study hour increases then exam score also increases")

#Quartiles
q1_hr = np.percentile(study_hour,25)
q2_hr = np.percentile(study_hour,50)
q3_hr = np.percentile(study_hour,75)

q1_sr = np.percentile(exam_score,25)
q2_sr = np.percentile(exam_score,50)
q3_sr = np.percentile(exam_score,75)

iqr_hr = q3_hr - q1_hr
print(f"Quartiles of Study Hours are Q1 : {q1_hr}, Q2 : {q2_hr}, Q3 : {q3_hr}")
print("IQR OF Study Hour:",iqr_hr)
iqr_sr = q3_sr - q1_sr
print(f"Quartiles of Exam Score are Q1 : {q1_sr}, Q2 : {q2_sr}, Q3 : {q3_sr}")
print("IQR OF Exam Score:",iqr_sr)

Correlation: 0.8
Here Correlatio is 0.8, so when study hour increases then exam score also increases
Quartiles of Study Hours are Q1 : 4.0, Q2 : 6.0, Q3 : 8.0
IQR OF Study Hour: 4.0
Quartiles of Exam Score are Q1 : 60.0, Q2 : 65.0, Q3 : 70.0
IQR OF Exam Score: 10.0

6. Dataset: Monthly savings (in $): 200, 300, 400, 500, 600, 700, 800, 900, 1000,
 1100 Questions: a) Calculate the first quartile (Q1) and third quartile (Q3).
 b) Calculate the interquartile range (IQR).
 c) Detecting Outliers

In [6]:
month_saving = [200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100]

#Find Q1 and Q3
q1 = np.percentile(month_saving,25)
print("Q1:",q1)
q3 = np.percentile(month_saving,75)
print("Q3:",q3)

#Find IQR
iqr = q3 - q1
print("IQR:",iqr)

#find Outliers
low_bound = q1 - (1.5*iqr)
up_bound = q3 + (1.5*iqr)

outliers =[]
for i in month_saving:
  if i<low_bound or i>up_bound:
    outliers.append(i)

if outliers:
  print("Outliers:",outliers)
else:
  print("No Outliers")

Q1: 425.0
Q3: 875.0
IQR: 450.0
No Outliers

 7. Dataset: Ages of employees: 22, 25, 28, 30, 35, 40, 45, 50, 55, 100
 Questions: a) Identify any outliers using the IQR method.

In [8]:
ages = [22, 25, 28, 30, 35, 40, 45, 50, 55, 100]

q1_age = np.percentile(ages,25)
q3_age = np.percentile(ages,75)
iqr_age = q3_age - q1_age
print("IQR:",iqr_age)

lower_bound = q1_age -(1.5*iqr_age)
#print("Lower bound ",lower_bound)
upper_bound = q3_age +(1.5*iqr_age)
#print("Upper Bound",upper_bound)

outlier_age = []
for x in ages:
  if x<lower_bound or x>upper_bound:
    outlier_age.append(x)
if outlier_age:
  print("Outlier:",outlier_age)
else:
  print("No Outlier")

IQR: 20.25
Outlier: [100]

9. Dataset: Sample weights (in kg) of a new diet program: 70, 68, 72, 71, 69, 73,
 72, 74, 70, 71 Questions: a) Test the hypothesis that the mean weight after the
 diet program is equal to 70 kg at a 5% significance level. b) Z-Scores

In [10]:
from scipy.stats import t

weights = [70, 68, 72, 71, 69, 73, 72, 74, 70, 71]
n = len(weights)

mean_sample = sum(weights) / n
variance = sum((x - mean_sample)**2 for x in weights) / (n - 1)
std_dev = variance ** 0.5

mu = 70
t_stat = (mean_sample - mu) / (std_dev / (n ** 0.5))

alpha = 0.05
df = 9

t_critical = t.ppf(1 - alpha/2, df)
print("Critical t-value (two-tailed, α=0.05, df=9):", t_critical)

t_critical = 2.262
if abs(t_stat) > t_critical:
    result = "Reject H₀: Mean is significantly different from 70 kg"
else:
    result = "Fail to reject H₀: No significant difference from 70 kg"
print(f"Sample Mean: {mean_sample:.2f}")
print(f"t-statistic: {t_stat:.3f}")
print(result)

# z score
z_scores = [(x - mean_sample) / std_dev for x in weights]
for i, z in enumerate(z_scores):
    print(f"Weight {weights[i]} kg → Z-score: {z:.2f}")

Critical t-value (two-tailed, α=0.05, df=9): 2.2621571628540993
Sample Mean: 71.00
t-statistic: 1.732
Fail to reject H₀: No significant difference from 70 kg
Weight 70 kg → Z-score: -0.55
Weight 68 kg → Z-score: -1.64
Weight 72 kg → Z-score: 0.55
Weight 71 kg → Z-score: 0.00
Weight 69 kg → Z-score: -1.10
Weight 73 kg → Z-score: 1.10
Weight 72 kg → Z-score: 0.55
Weight 74 kg → Z-score: 1.64
Weight 70 kg → Z-score: -0.55
Weight 71 kg → Z-score: 0.00

10. Dataset: Annual salaries of employees (in $1000s): 40, 42, 45, 47, 50, 52, 55,
 57, 60, 62 Questions: a) Calculate the z-scores for each salary.
 b) Interpret the z-scores.
 c) Normal Distribution

In [23]:
annual = [40, 42, 45, 47, 50, 52, 55, 57, 60, 62]

mean_annual = sum(annual)/len(annual)
len_annual = len(annual)

variance_emp = 0
for i in annual:
    variance_emp += (i - mean_annual)**2
stdev_emp = (variance_emp / len_annual)**0.5
#print("Standard Deviation: ",stdev_emp)

z_list = []
for i in annual:
  z_score = (i-mean_annual)/stdev_emp
  print(f"Z-score for {i} is {z_score}")
  z_list.append(z_score)

print("Values 50 and 52 have Z-scores close to 0, meaning they are almost equal to the mean")
print("Values like 45, 47, 55, 57 have Z-scores between -1 and +1, meaning they are within 1 standard deviation")
print("Values 40, 42, 60, 62 have Z-scores between -1.5 and +1.5, still within 2 standard deviations")

Z-score for 40 is -1.5403080924308108
Z-score for 42 is -1.2602520756252087
Z-score for 45 is -0.8401680504168059
Z-score for 47 is -0.5601120336112039
Z-score for 50 is -0.14002800840280097
Z-score for 52 is 0.14002800840280097
Z-score for 55 is 0.5601120336112039
Z-score for 57 is 0.8401680504168059
Z-score for 60 is 1.2602520756252087
Z-score for 62 is 1.5403080924308108
Values 50 and 52 have Z-scores close to 0, meaning they are almost equal to the mean
Values like 45, 47, 55, 57 have Z-scores between -1 and +1, meaning they are within 1 standard deviation
Values 40, 42, 60, 62 have Z-scores between -1.5 and +1.5, still within 2 standard deviations

11. . Dataset: Scores of students in a standardized test: 85, 87, 90, 92, 95, 97,
 100, 102, 105, 107
 Questions: a) Create a histogram of the test scores.
 b) Fit a normal distribution to the data and calculate the mean and standard
 deviation.
 c) P-Values

In [28]:
student_score = [85, 87, 90, 92, 95, 97, 100, 102, 105, 107]

m = len(student_score)
mean_test = sum(student_score)/m

variance_test = 0
for i in student_score:
  variance_test += (i-mean_test)**2
std_test = (variance_test/m)**0.5

zlist_test = []
for i in student_score:
  zscore_test = (i-mean_test)/std_test
  print(f"Z-score for {i} is {zscore_test}")
  zlist_test.append(zscore_test)

zscore_mean = sum(zlist_test)/m
print("Z-Score mean:",zscore_mean)
zscore_variance = 0
for i in zlist_test:
  zscore_variance += (i - zscore_mean)**2
stdev_zscore = (zscore_variance / m)**0.5
print("Standard Deviation: ",stdev_zscore)

Z-score for 85 is -1.5403080924308108
Z-score for 87 is -1.2602520756252087
Z-score for 90 is -0.8401680504168059
Z-score for 92 is -0.5601120336112039
Z-score for 95 is -0.14002800840280097
Z-score for 97 is 0.14002800840280097
Z-score for 100 is 0.5601120336112039
Z-score for 102 is 0.8401680504168059
Z-score for 105 is 1.2602520756252087
Z-score for 107 is 1.5403080924308108
Z-Score mean: 0.0
Standard Deviation:  0.9999999999999999